 .about__row {
    display: flex;
    justify-content: space-between;
    gap: 50px;
 }

 .about__title {
    font-family: var(--font-cormorant);
    margin-bottom: 5px;
    font-size: 30px;
    text-transform: uppercase;
 }

 .about__block-text p {
    margin-bottom: 20px;
    font-size: 22px;
 }

 .about__block-text p:last-child {
    margin-bottom: 50px;
    font-size: 22px;
 }

.about__col img {
    width: 350px;
    height: 500px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s ease;
}

.about__col img:hover {
    transform: translate(-20px, -20px);
}