.footer__row {
    padding-bottom: 130px;
    display: flex;
    justify-content: space-between;
}

.section__title_footer {
    margin-bottom: 25px;
    font-size: 40px;
    text-align: center;
}

.footer__col {
    width: 100%;
    font-family: var(--font-nunito);
    font-size: 20px;
}

.footer__col:last-child {
    text-align: center;
}

.contact__block-label {
    position: relative;
}

.contact__label {
    position: absolute;
    top: -2px;
    left: -35px;
    width: 25px;
}

.contact__block-address,
.contact__block-mail,
.contact__block-phone {
    margin: 0 0 15px 80px;
}

.contact__block-mail a {
    text-decoration: underline;
    color: #fff;
}

.contact__block-phone a {
    color: #fff;
    text-decoration: underline;
}

.nav__item_footer {
    margin-bottom: 15px;
    font-size: 23px;
    text-align: center;
}

.footer__block-hours {
    margin-top: 35px;
}

.footer__block-hours_content {
    margin-bottom: 15px;
}