.footer {
    padding-bottom: 130px;
}

.footer__row {
    display: flex;
    justify-content: space-between;
}

.section__title_footer {
    margin-bottom: 25px;
}

.footer__col {
    width: 100%;
    font-family: var(--font-nunito);
    font-size: 20px;
}

.footer__contact {
    margin-bottom: 35px;
}

.footer__contact a {
    color: #fff;
}

.footer__contact > a > span:hover {
    text-decoration: underline;
}

.footer__contact > a > span {
    color: #6e6e6e;
}

.footer__contact > div {
    margin-bottom: 15px;
}

.work-time {
    color: #6e6e6e;
}

iframe {
    width: 100%;
    height: 400px;
}

/* #map {
    display: none;
} */