.header {
    position: absolute;
    top: 45px;
    left: 0;
    width: 100%;
}

.nav__items {
    display: flex;
    gap: 35px;
    justify-content: center;
    align-items: center;
    font-size: 19px;
}

.nav__item {
    color: #fff;
}

.nav__item-logo {
	font-family: 'Striker', sans-serif;
}

.nav__link {
    color: #fff;
}

