@font-face {
    font-family: 'Neuropol X Free';
    src: url(../fonts/neuropol-x-rg.otf);
}

@font-face {
    font-family: 'Nasalization';
    src: url(../fonts/nasalization-rg.otf);
}

@font-face {
    font-family: 'Striker';
    src: url(../fonts/Striker.otf);
}

@font-face {
    font-family: 'Charlie Brown M54';
    src: url(../fonts/charlie-brown-m54.ttf);
}

@font-face {
    font-family: 'Prospect';
    src: url(../fonts/Prospect-L3q5y.ttf);
}

:root {
    --font-nasalization:'Nasalization', sans-serif;
    --font-neuropol: 'Neuropol X Free', sans-serif;
    --font-charlie-brown: 'Charlie Brown M54', sans-serif;
    --font-striker: 'Striker', sans-serif;
    --font-prospect: 'Prospect', sans-serif;
    --font-nunito: "Nunito", sans-serif;;
    --font-cormorant: "Cormorant SC", serif;
    --font-noto-display: "Noto Serif Display", serif;;
}

body {
    font-family: var(--font-cormorant);
    font-weight: 400;
    background-color: #000;
    color: #fff;
}

.section {
    background-color: #000;
}

.appearance-section {
    transition: all 1s;
}

.section_hidden {
    opacity: 0;
    transform: translateY(9rem); 
}

.container {
    width: 100%;
    max-width: 1190px;
    margin: 0 auto;
    padding: 0 15px;
}

.section__title {
    font-family: var(--font-noto-display);
    font-size: 60px;
    text-transform: uppercase;
}

/* Scroll-bar */
::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

