@font-face {
    font-family: 'Neuropol X Free';
    src: url(/src/fonts/neuropol-x-rg.otf);
}

@font-face {
    font-family: 'Nasalization';
    src: url(/src/fonts/nasalization-rg.otf);
}

:root {
    --font-nasalization:'Nasalization', sans-serif;
    --font-neuropol: 'Neuropol X Free', sans-serif;
}

.container {
    width: 100%;
    max-width: 1190px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Scroll-bar */
::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

