.section_intro {
    background: url(../img/hookah-no-neon.png) no-repeat 52% / cover;
    width: 100%;
    height: 1200px;
}

.intro__inner {
    /* padding: 55% 0; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.order-btn__container {
    margin-top: 700px;
    margin-bottom: 200px;
    cursor: pointer;
}

.btn {
    border-radius: 10px;
    background-color: #171717;
    /* border: 1px solid #fff; */
    color: #fff;
    text-align: center;
    transition: all .2s ease;
    outline: none;
    cursor: pointer;
}

.btn__order_intro {
    font-family: var(--font-neuropol);
    padding: 25px 100px;
    font-weight: 700;
    text-transform: uppercase;
    /* border: 1px solid #000; */
}

.btn__order_intro:hover {
    border: 1px #000 solid;
    background-color: #fff;
    color: #000;
}

.label__row {
    display: flex;
    gap: 500px;
}

.label__row:first-child {
    margin-bottom: 80px;
}

.label__row_bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.label__col {
    position: relative;
    width: 200px;
    height: 70px;

    display: flex;
    align-items: center;
    text-align: center;

    border-radius: 10px;
    backdrop-filter: blur(12px);
    border: 1px solid #fff;
}

.label-icon {
    position: absolute;
    top: -55px;
    left: 36%;
}

.label__text {
    font-size: 14px;
    text-align: center;
    color: #fff;
}