.section_intro {
    background: url(../img/hookah-3d.png) no-repeat 52% / cover;
    width: 100%;
    height: 1200px;
}

.intro__inner {
    /* padding: 55% 0; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.order-btn__container {
    margin-top: 700px;
    margin-bottom: 200px;
    cursor: pointer;
}

.btn {
    font-family: var(--font-neuropol);
    font-weight: 700;
    padding: 25px 100px;
    border-radius: 10px;
    background-color: #000;
    border: 1px solid #000;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    transition: border .2s ease;
}

.btn__order_intro:hover {
    border: 1px #fff solid;
}

.label__container {
    /* position: relative; */
}

.label__row {
    display: flex;
    gap: 500px;
}

.label__row:first-child {
    margin-bottom: 80px;
}

.label__row_bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.label__col {
    position: relative;
    width: 200px;
    height: 70px;

    display: flex;
    align-items: center;
    text-align: center;

    border-radius: 10px;
    backdrop-filter: blur(12px);
    border: 1px solid #fff;
}

.label-icon {
    position: absolute;
    top: -55px;
    left: 36%;
}

.label__text {
    font-size: 14px;
}