/* .bg-img__slider {
    position: absolute;
    top: 300px;
    left: 0;
    background: url(../img/background/smoke-bg.jpg) no-repeat fixed;
    background-position: 50% 20%;
    background-size: cover;
    opacity: .4;
    box-shadow: rgba(0, 0, 0, 1) 0px 87px 156px 102px inset;
    width: 100%;
    height: 969px;
} */

.menu__inner{
    margin-bottom: 30px;
}

.menu__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-categories{
    display: flex;
    gap: 16px;
}

.menu__title{
    font-family: var(--font-nasalization);
    font-size: 60px;
    text-transform: uppercase;
}

.liner{
    margin-bottom: 30px;
    width: 100%;
    border: 1px solid gray;
}

.menu__inner {
    margin-bottom: 30px;

}

.menu__wrapper {
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.menu-info__title {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 700;
}

.dish__item {
    width: 200px;
    height: 300px;
    border-radius: 12px;
    background-color: #212121;
    z-index: 1;
}

.dish__item img {
    width: 100%;
    height: 200px;
    border-radius: 12px;
}

.dish__content {
    padding: 10px;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dish__name {
    margin-bottom: 15px;
    font-size: 14px;
}

.dish__small-text {
    display: flex;
    justify-content: space-between;
}

.dish-small {
    font-size: 12px;
    color: #ccc;
}

.menu-info__text {
    font-size: 15px;
    line-height: 20px;
}

.menu__item {
    margin: 0 0 15px 15px;
    list-style: disc;
}

.menu-gr {
    margin-left: 10px;
    font-size: 15px;
}

.menu {
    display: none;
}

.menu_active {
    display: block;
}

.coctail-number {
    font-size: 22px;
}