.reserv__title {
    margin-bottom: 60px;
    font-family: var(--font-nasalization);
    font-size: 54px;
    text-transform: uppercase;
    color: #fff;
}

.reserv__block {
    padding-top: 130px;
    z-index: 1;
}

.reserv__text {
    margin-bottom: 25px;
}

.reserv__title-content__text {
    font-size: 25px;
    line-height: 33px;
    color: #fff;
}

.reserv__soicals {
    margin: 0 0 35px 50px;
}

.reserv__soicals a {
    font-size: 22px;
    text-decoration: underline;
    color: #fff;
}

.icon-reserv__container {
    position: relative;
}

.icon-reserv__container img {
    position: absolute;
    top: -11px;
    left: -50px;
    width: 40px;
}






/* 
 .section_book {
    padding-top: 130px;
}

.book__wrapper {
    display: flex;
    gap: 100px;
}

.book__title {
    margin-bottom: 60px;
    font-size: 54px;
    text-transform: uppercase;
}

.book__title-content__text {
    font-size: 25px;
    line-height: 33px;
}

.book__title-content__text:first-child {
    margin-bottom: 25px;
}

.book__item {
    margin-bottom: 22px;
}

.book__text {
    display: inline-block;
    margin-bottom: 10px;
}

.input__book {
    font-family: var(--font-nunito);
    padding-left: 20px;
    display: block;
    width: 500px;
    height: 50px;
    border-radius: 5px;
    border: 2px solid #fff;

    background: transparent;

    font-size: 20px;
    color: #fff;
}
.input__book_text {
    padding: 15px;
    height: 200px;
} */