/* .reserv__wrapper {
    display: flex;
    gap: 100px;
}

.reserv__title {
    margin-bottom: 60px;
    font-family: var(--font-nasalization);
    font-size: 54px;
    text-transform: uppercase;
    color: #fff;
}

.reserv__block {
    padding-top: 130px;
    text-align: center;
    z-index: 1;
}

.reserv__text {
    margin-bottom: 25px;
}

.reserv__title-content__text {
    font-size: 25px;
    line-height: 33px;
    color: #fff;
}

.reserv__soicals {
    margin-bottom: 25px;
}

.reserv-social{
    color: #fff;
    text-decoration: underline;
    font-size: 25px;
}




 */


 .section_book {
    padding-top: 130px;
}

.book__wrapper {
    display: flex;
    gap: 100px;
    /* justify-content: space-between; */
}

.book__title {
    margin-bottom: 60px;
    /* font-family: var(--font-nunito); */
    font-size: 54px;
    text-transform: uppercase;
}

.book__title-content__text {
    /* margin-left: 25px; */
    font-size: 25px;
    line-height: 33px;
}

.book__title-content__text:first-child {
    margin-bottom: 25px;
}

.book__item {
    margin-bottom: 22px;
}

.book__text {
    display: inline-block;
    margin-bottom: 10px;
}

.input__book {
    font-family: var(--font-nunito);
    padding-left: 20px;
    display: block;
    width: 500px;
    height: 50px;
    border-radius: 5px;
    border: 2px solid #fff;

    background: transparent;

    font-size: 20px;
    color: #fff;
}
.input__book_text {
    padding: 15px;
    height: 200px;
}

.btn_book {
    font-family: var(--font-nasalization);
    width: 500px;
    height: 60px;
    font-size: 25px;
    color: #000;
    text-transform: uppercase;
    background-color: #fff;
    border: 1px solid #fff;
    /* transition: all .2s ease; */
}

.btn_book:hover {
    background-color: #000;
    color: #fff;
} 